body {
    font-family: Raleway;
    color: #2d2d2d;
}

.header {
    border-bottom: 1px solid #ebebeb; 
    height: 70px;
}

.header-list li{
    float: left;
    color: #626262;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 20px 40px;
}

li {
    list-style: none;
}

.site-title {
    
    font-size: 28px;
    letter-spacing: 4px;
    padding: 10px 20px;
    font-weight: 300;
    float: left;
}

.top-image {
    width: 80%;
    height: auto;
    margin: 15px 130px;
}

.section-title {
    font-weight: 300;
    padding-left: 10px;
}


.contents-item img {
    float: left;
    width: 20%;
    height: auto;
    padding-right: 50px;
}

/*.more-info {
    border-top: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
    padding: 10px 0;
}*/

.main {
    margin-bottom: 20px;
}

table {
    border-collapse: collapse; 
}

table td {
    padding: 20px 10px;
    border: 1px solid #626262;    
}


.footer {
    background-color: #222a2c;
    height: 70px;
    color: #aaa
}

.footer-list li {
    float: left;
    padding: 23px 40px;
    font-size: 14px;
}

.copyright {
    float: right;
    font-size: 12px;
    padding-right: 20px;
    margin-top: 45px;
}